<a href="https://colab.research.google.com/github/joohoshin/TensorflowAI/blob/main/5_3_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%B6%94%EA%B0%80%2C_%EC%82%AD%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 삭제
* drop()을 통해서 데이터를 삭제할 수 있습니다

In [1]:
import seaborn as sns # 그래픽 라이브러리이며, 데이터셋을 쉽게 불러올 수 있다

iris = sns.load_dataset('iris')

In [2]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
iris = iris.drop([2,4])

In [4]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[148 rows x 5 columns]

In [5]:
iris.drop([1,3], inplace=True) # 위와 동일함, inplace=True를 사용하면, 다시 변수에 저장할 필요가 없다. 많은 pandas 함수에서 지원하는 옵션임

In [6]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[146 rows x 5 columns]

In [7]:
iris = iris.drop(range(145,149))

In [8]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
149           5.9          3.0           5.1          1.8  virginica

* column을 삭제할 때는 axis = 1를 넣어준다

In [9]:
iris.drop(['petal_width'], axis=1, inplace=True)

In [10]:
iris

     sepal_length  sepal_width  petal_length    species
0             5.1          3.5           1.4     setosa
5             5.4          3.9           1.7     setosa
6             4.6          3.4           1.4     setosa
7             5.0          3.4           1.5     setosa
8             4.4          2.9           1.4     setosa
..            ...          ...           ...        ...
141           6.9          3.1           5.1  virginica
142           5.8          2.7           5.1  virginica
143           6.8          3.2           5.9  virginica
144           6.7          3.3           5.7  virginica
149           5.9          3.0           5.1  virginica

[142 rows x 4 columns]

# 데이터 추가
* append()를 통해서 데이터 추가할 수 있습니다

In [11]:
new_data = {'sepal_length':6.9, 'sepal_width':3.0, 'petal_length':1.2, 'species':'virginica'}

In [12]:
iris2 = iris.append(new_data, ignore_index = True) # 1개의 데이터에는 ignore_index=True 옵션이 필요합니다.

In [13]:
iris2

     sepal_length  sepal_width  petal_length    species
0             5.1          3.5           1.4     setosa
1             5.4          3.9           1.7     setosa
2             4.6          3.4           1.4     setosa
3             5.0          3.4           1.5     setosa
4             4.4          2.9           1.4     setosa
..            ...          ...           ...        ...
138           5.8          2.7           5.1  virginica
139           6.8          3.2           5.9  virginica
140           6.7          3.3           5.7  virginica
141           5.9          3.0           5.1  virginica
142           6.9          3.0           1.2  virginica

[143 rows x 4 columns]



*   데이터프레임끼리 합치는 것도 가능합니다 .

In [14]:
iris3 = iris.append(iris2)

In [15]:
iris3

     sepal_length  sepal_width  petal_length    species
0             5.1          3.5           1.4     setosa
5             5.4          3.9           1.7     setosa
6             4.6          3.4           1.4     setosa
7             5.0          3.4           1.5     setosa
8             4.4          2.9           1.4     setosa
..            ...          ...           ...        ...
138           5.8          2.7           5.1  virginica
139           6.8          3.2           5.9  virginica
140           6.7          3.3           5.7  virginica
141           5.9          3.0           5.1  virginica
142           6.9          3.0           1.2  virginica

[285 rows x 4 columns]

In [16]:
iris3.loc[100, :]

     sepal_length  sepal_width  petal_length    species
100           6.3          3.3           6.0  virginica
100           6.5          3.0           5.8  virginica



*   데이터가 합쳐질 때 기존 인덱스가 유지됩니다. 
*   ignore_index=True를 하면 추가되는 데이터프레임의 인덱스가 순차적으로 증가하는 숫자가 됩니다

In [17]:
iris3 = iris.append(iris2, ignore_index = True)

In [18]:
iris3

     sepal_length  sepal_width  petal_length    species
0             5.1          3.5           1.4     setosa
1             5.4          3.9           1.7     setosa
2             4.6          3.4           1.4     setosa
3             5.0          3.4           1.5     setosa
4             4.4          2.9           1.4     setosa
..            ...          ...           ...        ...
280           5.8          2.7           5.1  virginica
281           6.8          3.2           5.9  virginica
282           6.7          3.3           5.7  virginica
283           5.9          3.0           5.1  virginica
284           6.9          3.0           1.2  virginica

[285 rows x 4 columns]

In [19]:
iris3.loc[100, :]

sepal_length          6.5
sepal_width             3
petal_length          5.8
species         virginica
Name: 100, dtype: object