<a href="https://colab.research.google.com/github/joohoshin/TensorflowAI/blob/main/4_3_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas
* pandas 는 파이썬에서 엑셀처럼 데이터를 다룰 수 있게 해주는 라이브러리입니다. 
* 통계툴에서 출발한 R의 DataFrame을 참고하여 만든 라이브러리입니다. 
* https://pandas.pydata.org/

### 파이썬이 머신러닝/딥러닝에 강점을 가지게 된 이유중의 하나입니다.

* Numpy가 list와 유사하며, 연산에 강점을 가졌다면, 
* Pandas는 dictionary와 유사하다고 생각하면 쉽습니다. (인덱스에 이름 가능함)

In [1]:
import pandas as pd  # pandas 라이브러리 불러오기

* 1차원 배열 형태는 Series라고 부르며, 리스트나 딕셔너리에서 만들수 있습니다
* 리스트에서 만들때는 인덱스가 0부터 자동 부여됩니다

In [2]:
sales = pd.Series([100,80,90,80,150])
print(type(sales), "\n")
print(sales)

<class 'pandas.core.series.Series'>

0    100
1     80
2     90
3     80
4    150
dtype: int64

* Dictionary에서 만들면 dict의 키값이 인덱스가 됩니다

In [3]:
sales2 = pd.Series({'3월':100, '4월':80, '5월':90, '6월':80, '7월':150})
sales2
#type(sales2)

3월    100
4월     80
5월     90
6월     80
7월    150
dtype: int64

### DataFrame
* 2차 배열 형태를 데이터프레임이라고 하며, 
* 인덱스(행의 이름)와 column 값을 가집니다

In [4]:
students=[
     {'id':123, '화학':80, '영어':60, '공창컴':100},
     {'id':122, '화학':100, '영어':90, '공창컴':90},
     {'id':112, '화학':40, '영어':70, '공창컴':60}   
]

In [5]:
students_df = pd.DataFrame(students)  # 대소문자 구별 주의하세요

In [6]:
students_df

    id   화학  영어  공창컴
0  123   80  60  100
1  122  100  90   90
2  112   40  70   60

### csv 파일로 손쉽게 저장, 읽기
* csv 파일은 comma separated value의 약자로서 데이터를 ,로 구분하여 저장합니다
* 엑셀에서도 손쉽게 열리고 저장가능합니다. 
* 기본은 utf-8 encoding 이며, 윈도우의 경우 한글 포함된 데이터는 cp949 encoding을 사용하여 저장합니다

* 저장은 .to_csv('파일이름.csv', encoding = 'cp949')
* 저장 시에 동일 파일이 열려있는 경우에는 오류가 발생하므로 파일을 닫고 저장하여야 합니다.

In [7]:
students_df.to_csv('students.csv', encoding = 'cp949')

* 저장 시에 인덱스도 함께 저장이 됩니다. 
* 인덱스를 저장하지 않는 경우에는 index=False 옵션을 추가합니다.

In [8]:
students_df.to_csv('students_no_index.csv', encoding = 'cp949', index = False)

* 파일 읽기는 pd.read_csv('파일명', encoding = 'cp949')를 사용합니다

In [9]:
s_df = pd.read_csv('students_no_index.csv', encoding = 'cp949')

In [10]:
s_df

    id   화학  영어  공창컴
0  123   80  60  100
1  122  100  90   90
2  112   40  70   60

### colab에서는 어디서 확인하나?

*   colab은 리눅스 환경(ubuntu)에서 실행되며, 
*   OS 명령을 사용할 때는 코드 셀에서 !뒤에 OS 명령을 사용하면 된다.

In [ ]:
ls # 현재 폴더에 있는 파일 확인

In [ ]:
pwd # 현재 경로 확인