In [1]:
import pandas as pd

In [2]:
dataset01 = pd.read_csv("archive/IMDb movies.csv", encoding='utf-8')

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
dataset01.head(5)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [4]:
dataset01.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

In [5]:
dataset01.values

array([['tt0000009', 'Miss Jerry', 'Miss Jerry', ..., nan, 1.0, 2.0],
       ['tt0000574', 'The Story of the Kelly Gang',
        'The Story of the Kelly Gang', ..., nan, 7.0, 7.0],
       ['tt0001892', 'Den sorte drøm', 'Den sorte drøm', ..., nan, 5.0,
        2.0],
       ...,
       ['tt9911774', 'Padmavyuhathile Abhimanyu',
        'Padmavyuhathile Abhimanyu', ..., nan, nan, nan],
       ['tt9914286', 'Sokagin Çocuklari', 'Sokagin Çocuklari', ..., nan,
        nan, nan],
       ['tt9914942', 'La vida sense la Sara Amat',
        'La vida sense la Sara Amat', ..., nan, nan, 2.0]], dtype=object)

In [6]:
dataset01.shape

(85855, 22)

In [7]:
dataset01.index

RangeIndex(start=0, stop=85855, step=1)

In [8]:
dataset01['language'].unique()

array(['None', nan, 'English', ..., 'Persian, Urdu',
       'English, Swiss German, German',
       'English, Polish, Russian, German'], dtype=object)

In [9]:
dataset01['language'].value_counts()

English                                               35939
French                                                 3903
Spanish                                                2831
Japanese                                               2826
Italian                                                2731
                                                      ...
Russian, Polish, Latvian, English, French, Flemish        1
English, Persian, Greek, Arabic, Latin                    1
German, Swiss German, Italian, English                    1
English, Spanish, Latin, French                           1
English, German, Polish, Hebrew                           1
Name: language, Length: 4377, dtype: int64

In [10]:
dataset01[dataset01['year'] == 2020].head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
51533,tt0926132,Road to Red,Road to Red,2020,2020-01-03,"Action, Adventure, Horror",120,"USA, Portugal",English,Tito da Costa,...,"Sean Gray, Chris Blasman, Renee Dorian, Michae...",A surf-skate action-thriller about five best f...,4.2,472,$ 3000000,NaN,NaN,NaN,8.0,1.0
52039,tt0983946,Fantasy Island,Fantasy Island,2020,2020-02-13,"Action, Adventure, Fantasy",109,USA,English,Jeff Wadlow,...,"Michael Peña, Maggie Q, Lucy Hale, Austin Stow...",When the owner and operator of a luxurious isl...,4.9,26823,$ 7000000,$ 26441782,$ 47315959,22.0,635.0,154.0
52245,tt10003008,The Rental,The Rental,2020,2020-07-24,"Horror, Thriller",88,USA,English,Dave Franco,...,"Dan Stevens, Alison Brie, Sheila Vand, Jeremy ...",Two couples rent a vacation home for what shou...,5.7,9453,NaN,$ 1561048,$ 2113008,63.0,233.0,133.0
52271,tt10022990,Seeru,Seeru,2020,2020-02-07,"Action, Drama",123,India,Tamil,"Rathina Shiva, Sami Rajalingam",...,"Jiiva, Navdeep, Riya Suman, Varun, Sathish, R....",A guy from a small-town takes on a ruthless cr...,5.4,224,NaN,NaN,NaN,NaN,6.0,3.0
52272,tt10023024,Love Aaj Kal,Love Aaj Kal,2020,2020-02-14,"Drama, Romance",142,India,Hindi,Imtiaz Ali,...,"Kartik Aaryan, Sara Ali Khan, Randeep Hooda, A...",Two different individuals on a journey of love...,5.0,6292,NaN,NaN,$ 5120794,NaN,682.0,20.0

In [11]:
dataset01['duration'].max()

808

In [12]:
dataset01['duration'].min()

41

In [13]:
dataset01['duration'].median()

96.0

In [14]:
dataset01['date_published'].max()

'TV Movie 2019'

In [15]:
dataset01['date_published'].min()

'1894-10-09'

In [16]:
dataset01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85855 non-null  object
 1   title                  85855 non-null  object
 2   original_title         85855 non-null  object
 3   year                   85855 non-null  object
 4   date_published         85855 non-null  object
 5   genre                  85855 non-null  object
 6   duration               85855 non-null  int64
 7   country                85791 non-null  object
 8   language               85022 non-null  object
 9   director               85768 non-null  object
 10  writer                 84283 non-null  object
 11  production_company     81400 non-null  object
 12  actors                 85786 non-null  object
 13  description            83740 non-null  object
 14  avg_vote               85855 non-null  float64
 15  votes                  85855 non-null  int64
 16  budget                 23710 non-null  object
 17  usa_gross_income       15326 non-null  object
 18  worlwide_gross_income  31016 non-null  object
 19  metascore              13305 non-null  float64
 20  reviews_from_users     78258 non-null  float64
 21  reviews_from_critics   74058 non-null  float64
dtypes: float64(4), int64(2), object(16)
memory usage: 14.4+ MB

In [17]:
dataset01['metascore'].describe()

count    13305.000000
mean        55.896881
std         17.784874
min          1.000000
25%         43.000000
50%         57.000000
75%         69.000000
max        100.000000
Name: metascore, dtype: float64

In [18]:
dataset01['budget'].describe()

count         23710
unique         4642
top       $ 1000000
freq            758
Name: budget, dtype: object

In [19]:
dataset01[(dataset01['language'] == 'Korean') & (dataset01['year'] == 2020)]

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
53280,tt10620868,#Saraitda,#Saraitda,2020,2020-09-08,"Action, Drama, Horror",98,South Korea,Korean,Il Cho,...,"Ah-In Yoo, Shin-Hye Park, Hyun-Wook Lee, Bae-s...",The rapid spread of an unknown infection has l...,6.2,2043,NaN,NaN,$ 13450928,NaN,38.0,7.0
54767,tt11566164,Secret Zoo,Secret Zoo,2020,2020-01-15,Comedy,118,South Korea,Korean,Jae-gon Son,...,"Jae-hong Ahn, So-ra Kang, Yeong-gyu Park, Seon...",A lawyer is suckered into running a zoo that h...,6.2,548,NaN,NaN,$ 9457317,NaN,6.0,15.0
54846,tt11649614,Hiteumaen,Hiteumaen,2020,2020-01-22,"Action, Comedy",110,South Korea,Korean,Won-sub Choi,...,"Woo-seul-hye Hwang, Jun-ho Jeong, Sang-Woo Kwo...","While heavily drunk, an unsuccessful comic boo...",6.3,701,NaN,NaN,$ 17601351,NaN,9.0,6.0
54882,tt11697690,Domangchin yeoja,Domangchin yeoja,2020,2020-09-30,Drama,77,South Korea,Korean,Sang-soo Hong,...,"Min-hee Kim, Hae-hyo Kwon, Eun-mi Lee, Seon-mi...","While her husband is on a business trip, Gamhe...",6.9,234,NaN,NaN,NaN,81.0,NaN,20.0
54931,tt11727052,The Closet,The Closet,2020,2020-02-05,"Horror, Mystery",97,South Korea,Korean,Kwang-bin Kim,...,"Jung-woo Ha, Yool Heo, Nam-gil Kim, Si-ah Kim,...",After Sang-Won's daughter Yi-Na goes missing i...,5.7,666,NaN,NaN,$ 8603389,NaN,9.0,16.0
55020,tt11777040,Sanyangeui sigan,Sanyangeui sigan,2020,2020-04-23,"Action, Crime, Drama",134,South Korea,Korean,Sung-hyun Yoon,...,"Lee Jehoon, Jae-hong Ahn, Woo-sik Choi, Jung-m...","In the near future, a financial crisis will hi...",6.3,2646,NaN,NaN,NaN,NaN,52.0,40.0
56030,tt12491064,Intruder,Intruder,2020,2020-06-04,"Mystery, Thriller",102,South Korea,Korean,Sohn Won-Pyung,...,"Mu-Yeol Kim, Ji-Hyo Song",Seo-Jin is a popular architect. He suffers fro...,6.0,484,KRW 6500000000,NaN,$ 4747858,NaN,16.0,4.0

In [20]:
dataset01['year'].value_counts().sort_index

<bound method Series.sort_index of 2017             3223
2018             3182
2016             2992
2015             2764
2014             2517
                 ...
1894                1
1978                1
1964                1
TV Movie 2019       1
1976                1
Name: year, Length: 168, dtype: int64>